@import "../styling/utility";
@import "../styling/form";

#form-sigin {
  @include flex(center, center, column);

  .form-body {
    @include form-body(3em, 15vh);

    h2 {
      font-size: 3rem;
      color: $mainPop;
      margin-bottom: 0.2em;
    }
  }
}
