* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loaderEditior {
  height: 100vh;
  /* margin-left: 35vw; */
  width: 65vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
:root {
  --mainGrey: #32343a;
  --mainWhite: #fff;
  --mainPop: #6c63ff;
  --mainGreen: #57b894;
  --secGrey: #63676f;
  --textGrey: #707070;
}
body {
  font-family: sans-serif;
  background-color: whitesmoke;
}
#link {
  text-decoration: none;
  color: var(--textGrey);
}
.btn {
  display: block;
  padding: 1em 3em;
  color: var(--mainWhite);
  width: 180px;
  border-radius: 5px;
  border: none;
  font-weight: 900;
  cursor: pointer;
}

#btn-login {
  background-color: var(--mainGreen);
  margin-top: 2em;
}
#btn-signout {
  background-color: var(--mainGreen);
}

#btn-login:hover {
  background-color: #95dec3;
}
#btn-join {
  background-color: var(--mainPop);
  margin-top: 2em;
}

#btn-join:hover {
  background-color: #938df9;
}
.nav {
  background-color: var(--mainGrey);
  height: 100vh;
  width: 35vw;
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.navInner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav #logo {
  width: 90%;
}
.askQuestion {
  color: var(--secGrey);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.askQuestion h3 {
  font-size: 1.1rem;
  font-weight: 400;
}
.nav #askQuestion {
  width: 20%;
}

.signOutIn {
  margin-bottom: 28vh;
  margin-top: 12vh;
}

.writingContent {
  margin-left: 35vw;
  width: 65vw;
}
.home {
  padding-top: 7vh;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home img {
  margin-top: 8vh;
  width: 70%;
}

.home h1 {
  letter-spacing: 0.1em;
  font-size: 3rem;
  color: var(--secGrey);
}

.form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#form-login {
  padding: 3em;
  position: relative;
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--mainWhite);
  box-shadow: 20px 10px 40px #0000003e;
}
#form-login:hover {
  box-shadow: 60px 20px 100px #0000003e;
}
#form-login input {
  margin: 1em 0;
  padding: 1em 0.5em;
  width: 250px;
  border: solid var(--mainGreen) 1px;
}
#form-login h2 {
  font-size: 3rem;
  color: var(--mainGreen);
  margin-bottom: 0.2em;
}

#form-sigin {
  margin-top: 15vh;
  padding: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--mainWhite);
  box-shadow: 20px 10px 40px #0000003e;
}
#form-sigin:hover {
  box-shadow: 60px 20px 100px #0000003e;
}

#form-sigin input {
  margin: 1em 0;
  padding: 1em 0.5em;
  width: 250px;
  border: solid var(--mainPop) 1px;
}
#form-sigin h2 {
  font-size: 3rem;
  color: var(--mainPop);
  margin-bottom: 0.2em;
}

.intiail {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 4em;
  color: var(--mainWhite);
}

#intiail {
  border: solid 3px var(--mainWhite);
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 30px;
  margin-right: 0.6em;
  padding: 1em;
  border-radius: 100%;
}

.notes {
  display: flex;
  align-items: baseline;
  color: var(--mainWhite);
}

.notes img {
  width: 30%;
  margin-right: 0.6em;
}

.projectlist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1em;
  row-gap: 2em;
  padding: 1em;
  width: 100%;
  overflow: hidden;
  color: var(--textGrey);
  margin: 3em 0;
  align-items: center;
}
.search {
  height: 20px;
}
.project {
  background-color: var(--mainWhite);
  box-shadow: 5px 5px 20px #0000003e;
  width: 10em;
  height: 10em;
  overflow-wrap: break-word;
  padding: 0.2em 1em;
  overflow: hidden;
  position: relative;
}
.project:hover {
  width: 9.5em;
  height: 9.5em;
  box-shadow: 10px 10px 10px #0000003e;
}
.project .body {
  height: 48%;
  overflow: hidden;
  font-size: 0.6rem;
}
.project h3 {
  margin: 1em 0;
  height: 8%;
  overflow: hidden;
  font-size: 0.7rem;
}
.footerproject {
  position: absolute;
  bottom: 1.5em;
}
.footerprojectNew {
  margin: 1em 0;
}

.footerproject p {
  margin: 0;
  font-weight: 600;
  font-size: 0.5rem;
}
#newProject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#footerword {
  font-weight: 300;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.cancle {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--mainGreen);
  font-weight: 600;
  cursor: pointer;
}

#del {
  width: 30%;
  color: rgb(237, 196, 196);
  background-color: rgb(165, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  position: absolute;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  right: 0;
  bottom: 15px;
  margin-top: 1em;
  transform: translateX(150px);
  cursor: pointer;
}

.project:hover > #del {
  transform: translateX(0);
}

#editor {
  height: 85vh;
}
.titleeditor {
  height: 10vh;
  width: 100%;
  background-color: whitesmoke;
  padding: 0 0.5em;
  font-size: 2rem;
  color: var(--textGrey);
  border: none;
}

.account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em 0;
}

.userIn {
  border: solid 6px var(--textGrey);
  background-color: var(--secGrey);
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 100px;
  margin-right: 0.6em;
  padding: 1em;
  border-radius: 100%;
  color: var(--mainWhite);
  font-size: 2.5rem;
  margin-bottom: 0.4em;
}
.account h1 {
  color: var(--textGrey);
  font-weight: 900;
  letter-spacing: 0.05em;
  margin: 1em 0;
}
.account h3 {
  color: var(--textGrey);
  font-weight: 600;
  letter-spacing: 0.02em;
}
.account h4 {
  color: var(--textGrey);
  font-weight: 400;
  font-style: italic;
  font-size: 0.9rem;
  margin: 0.6em 0;
}
.account h5 {
  color: var(--textGrey);
  font-weight: 400;
  font-style: italic;
  font-size: 0.6rem;
}
#form {
  border: none;
  background-color: rgb(249, 240, 240);
  margin: 1em;
  height: 50px;
  padding: 1em;
  border-radius: 10px;
  font-size: 1.2rem;
}
#btn-signout2 {
  background-color: var(--mainGreen);
  margin: 5em;
}
.active {
  color: var(--textGrey);
  background-color: var(--mainPop);
}
.noNote {
  width: 100%;
  padding: 40vh 0;
  text-align: center;
}
.redirect {
  color: var(--mainGreen) !important;
  font-weight: 900;
}
.noNote h4 {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.addNewNote {
  padding: 5em;
}

.noAccount {
  margin-top: 0.6em;
  font-size: 0.8rem;
  color: var(--mainGrey);
}
.noAccountLost {
  font-size: 0.7rem;
  color: var(--mainGreen);
  cursor: pointer;
}
.noAccountSign {
  color: var(--mainGreen) !important;
}
.noAccountLogin {
  color: var(--mainPop) !important;
}

.errorMesage {
  color: var(--mainGrey);
  font-size: 0.7rem;
  color: red;
}
.emailLogin {
  margin-bottom: 0 !important;
}
.lazyLoader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px) {
  html {
    font-size: 10px;
  }
}
